header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid black;
  max-width: 992px;
  margin: 0 auto;
}

header .branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .branding img {
  height: 3rem;
}
