.rocket {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 10rem;
}

.eachRocket {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rocket-image {
  height: 150px;
  width: 200px;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
}

.reserveBtn {
  border-style: none;
  background-color: #0e72ed;
  color: #fff;
  padding: 0.5rem;
  width: 20%;
}
