.rocket {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 6rem;
}

.eachRocket {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.rocket-image {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.rev-word {
  background-color: green;
  color: #fff;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
}

.reserveBtn {
  border-style: none;
  background-color: #0e72ed;
  color: #fff;
  padding: 0.5rem;
  width: 9rem;
  margin-top: 1rem;
}

.cancel-book {
  border-style: double;
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  width: 9rem;
  margin-top: 1rem;
}
